.container__about {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
}

@media (min-width: 768px) {
  .container__about {
    padding: 6rem;
    max-width: 2160px;
    margin: auto;
  }
}
