.container__about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

@media (min-width: 1025px) {
  .container__about {
    display: grid;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 6rem;
  }
}
