.info__personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info__personal--image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.info__personal--image img {
  display: block;
  border-radius: 20% 20%;
  max-width: 300px;
}

.info__personal--content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.info__personal--title {
  font-weight: 300;
  position: relative;
  padding-bottom: 15px;
}

.info__personal--title::before {
  background: var(--Text_Light_Accent);
  bottom: 0;
  content: '';
  height: 2px;
  left: 30px;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

.info__personal--title::after {
  background: var(--Text_Light_Accent);
  bottom: 0;
  content: '';
  height: 2px;
  left: 32px;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

.info__personal--details {
  display: flex;
  flex-direction: column;
}

.info__personal--paragraph {
  margin-bottom: 5px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .info__personal {
    flex-direction: row;
  }
}
