.info__education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
}

.info__education--image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.info__education--content {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
}

.info__education--title {
  font-weight: 300;
  position: relative;
  padding-bottom: 15px;
}

.info__education--title::before {
  background: var(--Text_Light_Accent);
  bottom: 0;
  content: '';
  height: 2px;
  left: 30px;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

.info__education--title::after {
  background: var(--Text_Light_Accent);
  bottom: 0;
  content: '';
  height: 2px;
  left: 32px;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

.info__education--details {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.institution__logo {
  width: 250px;
  height: 78px;
}

@media (min-width: 768px) {
  .info__education {
    padding: 0 6rem;
    flex-direction: row;
    max-width: 2160px;
    margin: auto;
  }
}
