.container__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  min-height: calc(100vh - 64px);
  padding: 1rem;
  background-image: url(../../assets/Home/fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  max-height: 2160px;
}

.container__home::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.home__info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  z-index: 2;
}

.word {
  padding: 0rem 0.3rem;
}

.letter__name {
  display: inline-block;
  transition: transform 0.4s;
}

.letter__name:hover {
  transform: scale(1.2) skewY(-10deg);
  cursor: default;
  color: var(--secondary-color);
}

.home__info h4 {
  font-weight: 600;
  color: var(--Text_Light_Accent);
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.home__info h1 {
  font-weight: 600;
  color: var(--Text_Light);
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 1px;
}

.home__info h3 {
  font-weight: 600;
}

.home__info p {
  text-wrap: balance;
  padding-top: 1rem;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .container__home {
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 6rem;
    max-width: 2160px;
    margin: auto;
    text-align: left;
  }

  .home__info {
    width: 80%;
  }
}
