.blog_card {
  display: flex;
  flex-direction: column;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.blog_card-content {
  position: relative;
  display: grid;
  gap: 13px;
  padding: 3rem;
}

@media (min-width: 768px) {
  .blog_card {
    max-width: 380px;
  }
}
