.container_contactForm {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  padding: 1rem;
  z-index: 2;
}

.container_contactForm-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card_form {
  display: inline-flex;
  gap: 40px;
  text-align: left;
}

.icon {
  font-size: 40px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container_contactForm-right {
  display: grid;
  gap: 1rem;
  border-radius: 5px;
}

.container_contactForm h2,
.container_contactForm h1 {
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-bottom: 15px;
}

.container_contactForm h1 {
  font-size: 36px;
}

.container_contactForm h5 {
  font-weight: 300;
  position: relative;
  font-size: 24px;
  padding-bottom: 15px;
}

.container_contactForm h5::before {
  background: var(--Text_Light_Accent);
  bottom: 0;
  content: '';
  height: 2px;
  left: 30px;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

.container_contactForm h5::after {
  background: var(--Text_Light_Accent);
  bottom: 0;
  content: '';
  height: 2px;
  left: 32px;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

.container_contactForm form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container_contactForm label {
  font-weight: 600;
}

.container_contactForm input[type='text'],
.container_contactForm input[type='email'],
.container_contactForm input[type='tel'],
.container_contactForm textarea {
  border: none;
  box-shadow: inherit;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  outline: none;
  resize: vertical;
  font-family: inherit;
  line-height: 24px;
  font-size: 16px;
  background-color: transparent;
}

.container_contactForm textarea {
  min-height: 150px;
  color: inherit;
}

.container_contactForm button {
  display: inline-flex;
  gap: 5px;
  justify-content: center;
  font-family: inherit;
  background: var(--secondary-color);
  color: #fff;
  border: none;
  width: 100%;
  padding: 20px;
  height: 59px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.send__icon {
  font-size: 18px;
}

@media (min-width: 1200px) {
  .container_contactForm {
    margin: 120px;
    padding: 50px;
    gap: 15px;
  }

  .container_contactForm-left {
    gap: 40px;
    flex: 1;
  }

  .container_contactForm-right {
    flex: 2;
  }

  .container_contactForm button {
    width: 250px;
  }
}
