.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  height: 64px;
  z-index: 5;
  backdrop-filter: blur(10px) brightness(70%) saturate(120%);
  padding: 1rem;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.nav-links li {
  position: relative;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links li:after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--Text_Light_Accent);
  display: block;
  bottom: -8px;
  position: absolute;
  transition: width 0.25s, left 0.25s;
  left: 0;
}

.nav-links li:hover:after {
  width: 100%;
  left: 0;
}

.login-btn {
  padding: 8px 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  height: 48px;
  flex-shrink: 0;
  font-family: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.menu-icon {
  display: block;
  cursor: pointer;
}

.nav-links.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  gap: 50px;
  padding: 20px;
  position: absolute;
  top: 64px;
  right: 0;
  height: calc(100vh - 64px);
  backdrop-filter: blur(20px) brightness(70%) saturate(120%);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
}

@media (min-width: 768px) {
  .navbar {
    max-width: 2160px;
    padding: 1rem 6rem;
    margin: auto;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .menu-icon {
    display: none;
  }

  .nav-links.mobile li {
    margin: 10px 0;
  }
}
