.container__projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
  text-align: center;
}

.container__projects h4 {
  font-weight: 300;
  padding-bottom: 15px;
  position: relative;
}

.container__projects h4::before {
  background: var(--secondary-color);
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

.container__projects h4::after {
  background: var(--secondary-color);
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}
