.container__footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  backdrop-filter: blur(10px) brightness(70%) saturate(120%);
}

.footer__columns {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}

.footer__column h5 {
  margin: 16px 0px;
}

.footer__column ul li {
  margin-bottom: 7px;
  font-size: 14px;
}

.footer__row-copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: outset 1px #333;
  padding: 30px;
}

.logo {
  display: block;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
}

.logo h3 {
  cursor: pointer;
}

.logo sub {
  font-size: 40px;
  vertical-align: sub;
}

.logo h5 {
  font-family: 'Manrope', sans-serif;
}

@media (min-width: 1024px) {
  .container__footer {
    max-width: 2160px;
    padding: 0 6rem;
    margin: auto;
  }

  .footer__columns {
    flex-direction: row;
    justify-content: space-around;
  }
}
